spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/test?currentSchema=springjdbc
    username: postgres
    password: mysecretpassword
  flyway:
    url: jdbc:postgresql://localhost:5432/test?currentSchema=springjdbc
    enabled: true
    user: postgres
    password: mysecretpassword
    locations: classpath:db/migration
logging:
  level:
    org:
      springframework:
        jdbc:
          core:
            JdbcTemplate: TRACE