spring:
  application:
    name: rest-test

setting1: value1

api.path: /api/v1
api.pattern: \+7\d{10}

management:
  health:
    livenessState.enabled: true
    readinessState.enabled: true
    probes:
      enabled: true
#    db:
#      enabled: false
  endpoints:
    enabled-by-default: true
# не работает    web.exposure.include: *
    web.exposure.include: health,info,prometheus,env,configprops,scheduledtasks
  endpoint:
    health:
      enabled: true
      show-details: always
      probes.enabled: true
      group:
        readiness:
          include:
            - readinessState
#            - customDbHealthIndicator
        liveness:
          include:
            - livenessState
#            - customDbHealthIndicator
    prometheus.enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
testSettings:
  services:
    autoconfiguration: false
    str1: str1value
    props:
      prop1: prop1value
test-settings:
  restartAfterAuthException: null
  authIntervalRetry: null
  services:
    listener:
      cache-enabled: true
      props:
        prop1: prop1value
my:
  scheduled:
    cron:
      expression-value: "0 */1 * * * *"
logging:
  level:
    org:
      springframework: INFO
server:
  port: 8080
#app:
#  mainDataSource:
#    url: jdbc:postgresql://localhost:5432/main?currentSchema=schema1
#    username: postgres
#    password: mysecretpassword
#  secondaryDataSource:
#    url: jdbc:postgresql://localhost:5432/main?currentSchema=schema1
#    username: postgres
#    password: mysecretpassword
